{% extends "base.html" %}

{% block style %}
<style>
    .blog-content {
        display: flex;
        align-items: center;
    }

    img {
        width: 450px;
        height: auto;
        margin-right: 20px;
    }

    p {
        max-width: 600px;
        font-size: 30px;
    }
</style>

{% endblock %}

{% block display %}
<div class="blog-content">
    <img src="{{ url_for('static', filename='me.jpeg') }}" alt="Me">
    <div>
        <h2>All about Me!</h2>
        <p>Hi! Welcome to my blog page! My name is Emily Dawn Poltorak. I was born in Los Angeles, California, and have
            lived there my entire life up until this past year! I am currently living in Jerusalem and absolutely loving
            it.
            When I return to the states, I plan to study Mechanical and Aerospace Engineering at Washington University
            in St.
            Louis, Missouri. Hope you enjoy having a little look into my life!</p>
    </div>
</div>
{% endblock %}