{% extends 'base.html' %}

{% block style %}
<style>
    .image-container {
        display: flex;
        border: 3px solid rgb(73, 73, 73);
        padding: 20px;
        margin: 50px;
        background-color: white;
    }

    .image-container img {
        width: 400px;
        height: auto;
        object-fit: cover;
        margin-right: 20px;
    }

    .text-container {
        flex-grow: 1;
    }

    .text-container h3,
    .text-container h4,
    .text-container p {
        word-wrap: break-word;
        font-size: 25px;
        overflow-wrap: break-word;
    }

    .comments-section {
        margin-top: 15px;
        border-top: 2px solid black;
        padding-top: 10px; 
        font-size: 20px;
    }

    .comment {
        margin-bottom: 10px; 
    }

</style>
{% endblock %}

<body>
    <!-- -------------------------------------- post display -------------------------------------- -->
    {% block display %}
    <div id="blogPosts">
        <ul>
            <div id="{{ post.title }}" class="image-container">
                {% if post.image %}
                <img src="{{ url_for('static', filename=post.image[7:]) }}" alt="{{ post.title }} Image">
                {% endif %}
                <div class="text-container">
                    <h3>Title: {{ post.title }}</h3>
                    <h4>Author: {{ post.author }}</h4>
                    <p id="postContent">{{ post.content }}</p>
                    <p>{{ post.timestamp }}</p>
                    
    <!-- -------------------------------------- comment display -------------------------------------- -->

                    <div class="comments-section">
                        <h5>Comments:</h5>
                        <ul>
                            {% for comment in post.comments %}
                                <li class="comment">{{ comment.commenter_name }} says: {{ comment.content }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </ul>
    </div>
    {% endblock %}
</body>
