{% extends "base.html" %}

{% block style %}

<style>
    label {
        display: block;
        margin-bottom: 8px;
    }

    #login_btn {

        background-color: #90b091;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;

    }

    #login_btn:hover {
        background-color: #647d66;
    }

    .loginButton input[type="text"],
    .loginButton input[type="password"] {
        width: 300px;
        margin-bottom: 12px;
        padding: 8px;
        box-sizing: border-box;
    }
</style>

{% endblock %}
{% block form %}

<h2>Login</h2>
<form method="post" action="{{ url_for('login') }}" class="loginButton">
    <label for="Username">Username:</label>
    <input type="text" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <button id="login_btn" type="submit">Login</button>
</form>
{% endblock %}