{% extends "base.html" %}

{% block style %}

<style>
    label {
        display: block;
        margin-bottom: 8px;
    }

    .register input[type="text"],
    .register input[type="password"] {
        margin-bottom: 12px;
        padding: 8px;
        box-sizing: border-box;
    }

    #register_btn {
        background-color: #90b091;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #register_btn:hover {
        background-color: #647d66;
    }
</style>

{% endblock %}

{% block form %}

<h2>Register</h2>
<form method="post" class="register">
    <label for="email">Email:</label>
    <input type="text" name="email" required><br>
    <label for="Username">Username:</label>
    <input type="text" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" required><br>
    <button id="register_btn" type="submit">Register</button>

</form>
{% endblock %}